*, *::before, *::after {
    color: #fff;
    font-family: monospace, sans-serif;
}

html {
    background-color: #000;
}

input {
    margin: 0;
    background-color: #000;
    inset: 0;
    width: 100%;
}

pre {
    color: #5da323;
}

p {
    color: #00b0e6;
}

b {
    color: #ff07de;
}

b#msg.ok {
    color: #468810;
}
